@font-face {
    font-family: 'WOODCUT';
    src: url('./assets/fonts/WOODCUT.TTF') format('truetype'); /* Ajusta la ruta y el formato según la ubicación y el tipo de archivo de fuente que hayas descargado */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sigmar-Regular';
    src: url('./assets/fonts/Sigmar-Regular.ttf') format('truetype'); /* Ajusta la ruta y el formato según la ubicación y el tipo de archivo de fuente que hayas descargado */
    font-weight: normal;
    font-style: normal;
  }